.needJobBlock {
    background-color: #99d0fb;
    display: flex;
}

.needJobContainer {
    display: flex;

}

.form {
    height: 200px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border: 1px solid #000;
    border-radius: 15px;
    margin: 50px auto;
    flex-wrap: wrap;
}

.needJobButton {
    margin: 0 auto;
    width: 80px;
    height: 40px;
}
.needJobButton:hover {
    opacity: .5;
}