.workBlock {
    min-height: 100vh;
    background-color: #fff396;

}

.worksContainer {
    flex-direction: column;
    justify-content: flex-start;
    height: 100%
}

.title {
    background-color: #8c8787;
}


.works {
    width: 100%;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;

}