.skillBlock {
    height: 100vh;
    background-color: palegreen;

}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: #8c8787;
}

.skills {
    width: 100%;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
}