.snackbar {
    min-width: 250px;
    background-color: #00B4DB;
    color: rgb(189, 0, 0);
    text-align: center;
    padding: 10px 30px;
    position: fixed;
    margin-left: -150px;
    left: 50%;
    bottom: 40px;
    font-size: 18px;
    border-radius: 4px;
    -webkit-animation: fadein 1s, fadeout 0.5s 2.5s;
    animation: fadein 1s, fadeout 0.5s 2.5s;
    box-shadow: 0 0.5em 0.7em -0.25em #ff0000a6;
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 40px;
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        bottom: 40px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 40px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 40px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}
